
head
{

    color: powderblue;
    border-style: dashed;
    border-color: azure;
}
h1
{

    color: powderblue;
    font-size: xxx-large;
    border-style: double;
    border-color: white;
}
h2
{

    color: powderblue;
    font-size: larger;

}
p
{

    color: mistyrose;
    border-style: dot-dash;
    border-color: lightblue;
}
div
{

    color: mistyrose;
    border-style: dot-dash;
    border-color: lightblue;
}
body
{
    background-color: slategrey;
    text-align: center;
    font-family: Broadway;
    background-image: url('../StockImages/photos_2018_2_14_fst_blurry-bokeh-hearts.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
label
{


    opacity: 0.4;
    color: lightpink;
    font-size: xx-large;
    border-style: inset;
    border-color: black;
    border-width: thick;
    padding: 0px 5px 0px 5px;
}
a
{

    opacity: 0.7;
    background-color: black;
    color: blueviolet;
    font-size: large;
    border-style: inset;
    border-color: black;
    border-width: thick;
    padding: 0px 5px 0px 5px;
}