body
{
    background-color: darkslategray;
}
head
{
    color: mistyrose;
    text-align: center;
    border-style: dashed;
    border-color: azure;
}
h1
{
    text-align: center;
    border-style: double;
    border-color: white;
    background-color: darkgrey;
}
p
{
    color: mistyrose;
    text-align: center;
    border-style: dot-dash;
    border-color: lightblue;
}
div
{
    color: mistyrose;
    text-align: center;
    border-style: dot-dash;
    border-color: lightblue;
}
body
{
    background-image: url('../StockImages/photos_2017_9_25_fst_bokeh-lights-surface-wet.jpg');
}
label
{
    background-color: lightblue;
    color: darkslategray;
    font-size: xx-large;
    border-style: inset;
    border-color: black;
    border-width: thick;
    padding: 0px 5px 0px 5px;
}
a
{
    font-size: xx-large;
    background-color: blanchedalmond;
    border-style: inset;
    border-color: black;
    border-width: thick;
    padding: 0px 5px 0px 5px;
}